<a href="https://colab.research.google.com/github/broadinstitute/2024-06-24-python-novice-lesson/blob/jlc_final_edits/episodes/files/code/Python_Ep5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Intro to Python Epsiode 5

In [1]:
odds = [1, 3, 5, 7]

In [2]:
print(odds[0])
print(odds[1])
print(odds[2])
print(odds[3])

1
3
5
7

In [3]:
odds = [1, 3, 5]
print(odds[0])
print(odds[1])
print(odds[2])
print(odds[3])

1
3
5

IndexError: list index out of range

In [4]:
odds = [1, 3, 5, 7]
for num in odds:
    print(num)

1
3
5
7

In [5]:
odds = [1, 3, 5, 7, 9, 11]
for num in odds:
    print(num)

1
3
5
7
9
11

In [6]:
odds = [1, 3, 5, 7, 9, 11]
for banana in odds:
    print(banana)

1
3
5
7
9
11

In [7]:
length = 0
names = ['Curie', 'Darwin', 'Turing']
for value in names:
    length = length + 1
print('There are', length, 'names in the list.')

There are 3 names in the list.

In [8]:
name = 'Rosalind'
for name in ['Curie', 'Darwin', 'Turing']:
    print(name)
print('after the loop, name is', name)

Curie
Darwin
Turing
after the loop, name is Turing

In [9]:
print(len([0, 1, 2, 3]))

4

In [10]:
for number in range(1, 4):
    print(number)

1
2
3

In [11]:
word = 'oxygen'
for letter in word:
    print(letter)

o
x
y
g
e
n

In [12]:
print(5 ** 3)

125

In [13]:
result = 1
for number in range(0, 3):
    result = result * 5
print(result)

125

In [14]:
numbers = [124, 402, 36]
summed = 0
for num in numbers:
    summed = summed + num
print(summed)

562

### Bonus challenge: not covered in workshop

In [15]:
x = 5
coefs = [2, 4, 3]
y = coefs[0] * x**0 + coefs[1] * x**1 + coefs[2] * x**2
print(y)

97

In [18]:
y = 0
for idx, coef in enumerate(coefs):
    y = y + coef * x**idx
print(y)

97

### End of Bonus challenge